p {
		color:#bfbfbf;
		font-family: Chivo;
		font-size: 15px;
	}

details > summary::-webkit-details-marker {
  display: none;
}

.background{
	background-color:black;
}
.background_white{
	background-color:white;
}

@media(min-width: 0px){
	.row_header{
		margin-top: 0px;
		background-color: black;
	}
	.image{
		max-width: 100%;
	}
	.heading_iphone11{
		color:white;
		margin-top: 2%;
		font-family:Chivo;
		font-size: 40px;
		max-width: 100%
	}
	.heading_top2{
		color:white;
		font-family: Chivo;
		font-size: 15px;
		max-width: 100%
	}
	.heading_info{
		color:#3399ff;
		font-family: Chivo;
		font-size: 14px;
		max-width: 100%;
		
	}
	.navbar{
		display: none;
	}
	.navbar2{
		display: inherit;
		background-color: black
	}
	.heading_iphone11bottom{
		color:black;
		margin-top: 2%;
		font-family:Chivo;
		font-size: 40px;
		max-width: 100%
	}
	.heading_top2bottom{
		color:black;
		font-family: Chivo;
		font-size:15px;
	}
	
	
}

@media(min-width: 780px){
	.row_header{
		margin-top: 0px;
		background-color: black;
	}
	.image{
		max-width: 100%;
	}
	.heading_iphone11{
		color:white;
		margin-top: 2%;
		font-family: Chivo;
		font-size: 40px;
		max-width: 100%
	}
	.heading_top2{
		color:white;
		font-family: Chivo;
		font-size: 20px;
		max-width: 100%;
	}
	.heading_info{
		color:#3399ff;
		font-family:Chivo;
		font-size: 14px;
		max-width: 100%;
	}
	.navbar{
		display: inherit;
	}
	.navbar2{
		display: none;
	}
	.heading_iphone11bottom{
		color:black;
		margin-top: 2%;
		font-family:Chivo;
		font-size: 40px;
		max-width: 100%
	}
	.heading_top2bottom{
		color:black;
		font-family: Chivo;
		font-size:20px;
		max-width: 100%;
	}

	
	
}

@media(min-width: 960px){
	.row_header{
		margin-top: 0px;
		background-color: black;
	}
	.heading_iphone11{
		color:white;
		margin-top: 2%;
		font-family:Chivo;
		font-size: 60px;
		max-width: 100%
	}
	.heading_top2{
		color:white;
		font-family: Chivo;
		font-size:25px;
		max-width: 100%;
	}
	.heading_info{
		color: #3399ff;
		font-family:Chivo;
		font-size: 15px;
		max-width: 100%;
	
	}
	.navbar{
		display: inherit;
	}
	.navbar2{
		display: none;
	}
	.heading_iphone11bottom{
		color:black;
		margin-top: 2%;
		font-family:Chivo;
		font-size: 60px;
		max-width: 100%
	}
	.heading_top2bottom{
		color:black;
		font-family: Chivo;
		font-size:25px;
		max-width: 100%;
	}
}
